<footer>
      <nav class="navbar fixed-bottom" style="background-color: #e3f2fd;">
   
    <h6 class="display-6 navbar-text">Samuel Bustos Parada &copy;2023 All rights reserved</h6>
    </div>
    </nav>
  </footer>
