<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->
        <style>
            body{
                background-color: aliceblue;
            }
            .jumbotron {
                text-align: left;
                max-width: 50%;
                padding: 50px;
            }
        </style>
    
        <main class="container" style="background-color: aliceblue;">
            <div class="jumbotron">

                <h1><br>Welcome to My Portfolio</h1>
                <p><br>Explore my world of software engineering. Dive into a collection of projects that reflect my journey as a student and aspiring software engineer. <br><br>Whether you're a peer, a potential collaborator, or simply curious, I invite you to discover the possibilities within. Join me in embracing technology's potential and pushing the boundaries of what's possible.</p>
                <a href="about"><button class="btn btn-primary">About</button></a>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>